$backgroundColor: #f8cb6f;
$padding: 20px;
$fontColor: #f8f8f8;

.Work {
  background: $backgroundColor;
  color: $fontColor;
  padding: $padding;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand__container {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
