@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

$backgroundColor: #f0f0f0;
* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $backgroundColor;
  font-family: 'Patrick Hand', cursive;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }

  .App-link {
    color: #61dafb;
  }

  .content {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    text-align: center;

    h1 {
      text-align: center;
      font-size: 6em;
    }
  }

  .pratterino-image {
    position: absolute;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), $backgroundColor), url("./assets/pratterino.jpg");
    opacity: .45;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    display: block;
    background-size: contain;
  }

  .skill {
    text-align: center;
    margin: 4px;
    display: inline-block;
    background: #62dafb;
    border-radius: 4px;
    padding: 2px;

    &:hover {
      background: #4dabb5;
    }
  }

  .games-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: block;

    a.game {
      margin: 4px;
      display: inline-block;
      background: #ea5251;
      border-radius: 4px;
      padding: 2px;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 20px;
  }
}
